:root {
   ---color: blue;
   --Color-orang: var(--Color-orang);
}

body {
   font-family: Arial, Helvetica, sans-serif;
}

* {
   margin: 0 0 0 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   padding-right: 15px;
   padding-left: 15px;
   margin-left: 20px auto;
   margin-right: 20px auto;
}

li {
   list-style-type: none;

}

a {
   text-decoration: none;
}

/* header*/
header img {
   width: 100px;
}

button a {
   text-decoration: none;
   color: black;
}

.but {
   border: none;
   background-color: var(--Color-orang);
   color: black;
}

/*end*/
/* landing*/

.landing .one {
   writing-mode: horizontal-tb;
}

.landing .text {
   top: 50%;
   left: 7%;
   transform: translate(-50%, -50%);

}

.search {
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 5px;
   height: 5px;
   color: black;
   box-shadow: -8px 11px 7px -10px black;
}

.search,
form button {
   box-shadow: -7px 9px 7px -10px black;
}

button {
   background-color: var(--Color-orang);
   box-shadow: -7px 9px 7px -10px black;
}

.landing .info {
   right: 10px;
   bottom: 0;
   background-color: var(--Color-orang);
}

/* company */

.company .one {
   background-color: #f6f5f3;
   color: var(--Color-orang);
}

.company .one span {
   font-size: 4rem;
}

/* Rent */
.rent {
   background-color: #f6f5f3;
}

.rent img {
   width: 100%;
   height: 100%;
}

.rent .view {
   background-color: white;
   border: 0;
   width: fit-content;
}

.price {
   color: var(--Color-orang);
}

/* work */
.work h5 {
   margin-top: 14%;
}

/* card body */
.work .card {
   height: 400px;
   counter-increment: card;
   width: 400px;
   overflow: hidden;
   transition: 0.3s;
}

/* card active */
.work .card:hover,
.work .active {
   background-color: var(--Color-orang);
   color: white;
}

/* numbers in the top of card  */
.work .card::after {
   content: "0" counter(card);
   position: absolute;
   left: -25px;
   top: -41%;
   font-size: 12rem;
   font-weight: bolder;
   z-index: 1;

}

/* numbers near h2 */
.work .card h5::after {
   content: "0" counter(card);
   position: absolute;
   left: 19px;

}

/* the under line color should be white in active 
status fix it  */
.work span::after {
   content: "";
   position: absolute;
   height: 4px;
   width: 6rem;
   bottom: -9px;
   left: 0;
}

.work span::after {
   background-color: black;
}

.work .serv {
   height: auto;
}

/* end of work  */
/* agents */
.agents {
   background-color: #f6f5f3;
}


.agents .card {
   box-shadow: -7px 9px 7px -10px black;
}

/* Adds */

/* the before and the after is not working fix it  */
.add div>span {
   position: absolute;
   padding: 8px;
   width: 70%;
   height: 25%;
   left: 50%;
   bottom: -20px;
   transform: translateX(-50%);
   background-color: var(--Color-orang);
   color: black;
   z-index: 2;
}

.add div>.right span {
   position: absolute;
   padding: 8px;
   width: 70%;
   height: 25%;
   left: 70%;
   bottom: -20px;
   transform: translateX(-50%);
   background-color:var(--Color-orang) ;
   color: black;
   z-index: 2;
}

/* footer */
footer .line::after {
   content: "";
   position: absolute;
   width: calc(100% - 30px);
   height: 2px;
   left: 15px;
   bottom: 0px;
   background-color: gray;
}

footer .icon {
   position: absolute;
   right: 20px;
   color: black;

}

footer li {
   margin-bottom: 1rem;
}